@function makelongshadow($color, $size) {
    $val: 1rem 0 0 $size $color;
    
    @for $i from 6 through 550 {
      $val: #{$val}, #{$i}px 0 0 $size #{$color};
    }
    
    @return $val;
}


.Main{
    position: relative;
    top: 12.2rem;left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
p{
    color: hsl(225, 20%, 60%);
    font-weight: 600;
    font-size: .75rem;
}

.Card{
    width: 34rem;
    border-radius: 5px;
    z-index: 2;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 15px -1px #eaeefb;
}
.Billing {
    padding: 2.5rem 2.85rem;
    border-bottom: 1px solid hsl(224, 65%, 95%);
}


@media only screen and (max-width: 800px){
    .Main{
        top: 40vw;
    }
    .Card{
        width: 86vw;
        border-radius: 20px;
        border: 1px solid red;
    }
    .Billing {
        padding: 8.438vw 5.625vw 1vw 5.625vw;
        border-bottom: 3px solid hsl(224, 65%, 95%);
    }
}


.views{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p{
        font-weight: 800;
        font-size: .95rem;
        letter-spacing: 1px;
    }
    .prize{
        display: flex;
        flex-direction: row;
        align-items: center;

        h1{
            font-size: 2.4rem;
            margin-right: .4rem;
            color: hsl(227, 35%, 25%);
        }
    }
}

@media only screen and (max-width: 800px){
    .views{
        height: 39vw;
        flex-direction: column;
        p{
            font-size: 3vw;
            letter-spacing: 3px;
        }
        .prize{
            h1{
                font-size: 9vw;
                margin-right: 0rem;
            }
        }
    }
}





 
.range{
    position: relative;
    margin-top: .35rem;
    width: 100%;

    input{
        appearance: none;
        cursor: pointer;
        height: 5rem;
        overflow: hidden;
        width: 100%;
        border-radius: 9in;
        outline: none;
        border: none;

        &::-webkit-slider-runnable-track {
            background: hsl(174, 77%, 80%);
            height: .5rem;
            border-radius: 9in;
          }
        &::-webkit-slider-thumb{
            position: relative; top: -1rem; left: 0;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 9in;
            background-color: hsl(174, 86%, 45%);
            background-image: url("./../../images/icon-slider.svg");
            background-position: center;
            background-size: 50% 40%;
            background-repeat: no-repeat;
            box-shadow: makelongshadow(#eaeefb, -1rem), 0 3px 8px -1px hsl(174, 86%, 45%);

            cursor: pointer;
            appearance: none;

            &:hover{
                background-color: hsl(174, 85%, 39%);
            }
        }
    }
    
}

@media only screen and (max-width: 800px){
    .range{
        top: -32vw;
        margin-top: 0rem;
    
        input{
            height: 15vw;
    
            &::-webkit-slider-runnable-track {
                height: 1.875vw;
              }
            &::-webkit-slider-thumb{
                top: -3.750vw;
                width: 9.375vw;
                height: 9.375vw;
                background-size: 60% 40%;
                box-shadow: makelongshadow(#eaeefb, -3.750vw), 0 5px 15px -3px hsl(174, 86%, 45%);
            }
        }
        
    }
}


.per{
    margin-top: 1.15rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24%;

    .switch{
        width: 2.7rem;
        background-color: hsl(223, 50%, 87%);
        height: 1.35rem;
        border-radius: 9in;
        margin: 0rem .95rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 .23rem;

        .switch_dot{
            width:.9rem;
            height:.9rem;
            border-radius: 9in;
            background-color: white;
        }

        &:hover{
            background-color: hsl(174, 86%, 45%);
        }
    }

    .year{
        display: flex;
        flex-direction: row;
        align-items: center;

        .year_discount{
            font-size: .65rem;
            margin-left: .65rem;
            background-color: hsl(14, 92%, 95%);
            color : hsl(15, 100%, 70%);
            padding: .15rem .32rem;
            border-radius: 9in;
        }
    }
}

@media only screen and (max-width: 800px){
    .per{
        position: relative;top: -4rem;
        margin-top: 0rem;
        padding-left: 9%;
        p{
            font-size: 3vw;
        }
        .switch{
            width: 11.2vw;
            height: 5.2vw;
            margin: 0rem 3.6vw;
            padding: 0 1.2vw;
    
            .switch_dot{
                width:4vw;
                height:4vw;
            }
        }
    
        .year{
            .year_discount{
                position: absolute; right: -2vw;
                font-size: 2.5vw;
                margin-left: 0rem;
                padding: .4vw 2vw;
            }
        }
    }
}


.Start{
    width: 100%;
    padding: 1.8rem 2.9rem 1.65rem 2.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .check_list{
        display: flex;
        flex-direction: column;

        .check_item{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: .6rem;

            img{
                width: .6rem;
                height: .5rem;
                margin-right: 1rem;
            }
        }
    }

    button{
        height: 2.6rem;
        width: 10.5rem;
        border: none;
        outline: none;
        text-decoration: none;
        border-radius: 9in;
        background-color: hsl(227, 35%, 25%);
        color : hsl(226, 100%, 87%);
        font-size: .8rem;
        font-weight: 600;

        &:hover{
            color: white;
        }
    }
}


@media only screen and (max-width: 800px){
    .Start{
        padding: 6.2vw 5.438vw 8.5vw 5.438vw;
        flex-direction: column;
        height: 53vw;
    
        .check_list{
            align-items: center;
    
            .check_item{
                margin-bottom: 3vw;
                p{
                    font-size: 3vw;
                }
                img{
                    width: 2.5vw;
                    height: 2vw;
                    margin-right: 5vw;
                }
            }
        }
    
        button{
            height: 11vw;
            width: 44vw;
            font-size: 3.2vw;
        }
    }
}