@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}

body{
    position: relative; top: 0; left: 0;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    min-height: 800px;
    background-color: hsl(230, 100%, 99%);
    font-size: 15px;
}

.design{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    opacity: .8;
    z-index: 2000;
    display: none;
}

.bg-pattern{
    position: absolute;
    top: 0; right: 0;
    width: 100%;   
    height: 449px;
    z-index: -1;
}

@media only screen and (max-width: 800px){
    body{
        min-height: 200vw;
    }
    .bg-pattern{
        height: 100vw;
        width: 100%;
        background-color: #f1f5fe;
        border-radius: 0 0 0 4in;
    }
}